In [10]:
import pandas
from os import getcwd


df = pandas.read_csv(getcwd() + "/LWs/LW_6/data/close_prices.csv")
# Акций 30 компаний на закрытии торгов за каждый день периода
X = df.loc[:, 'AXP':]

In [11]:
for label in df:
    print(label)

date
AXP
BA
CAT
CSCO
CVX
DD
DIS
GE
GS
HD
IBM
INTC
JNJ
JPM
KO
MCD
MMM
MRK
MSFT
NKE
PFE
PG
T
TRV
UNH
UTX
V
VZ
WMT
XOM

In [12]:
df.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>AXP</th>
      <th>BA</th>
      <th>CAT</th>
      <th>CSCO</th>
      <th>CVX</th>
      <th>DD</th>
      <th>DIS</th>
      <th>GE</th>
      <th>GS</th>
      <th>...</th>
      <th>PFE</th>
      <th>PG</th>
      <th>T</th>
      <th>TRV</th>
      <th>UNH</th>
      <th>UTX</th>
      <th>V</th>
      <th>VZ</th>
      <th>WMT</th>
      <th>XOM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2013-09-23</td>
      <td>76.440002</td>
      <td>117.510002</td>
      <td>85.029999</td>
      <td>24.270000</td>
      <td>125.519997</td>
      <td>59.409999</td>
      <td>64.750000</td>
      <td>24.280001</td>
      <td>165.250000</td>
      <td>...</td>
      <td>28.799999</td>
      <td>79.279999</td>
      <td>34.220001</td>
      <td>86.379997</td>
      <td>71.820000</td>
      <td>109.419998</td>
      <td>196.240005</td>
      <td>47.980000</td>
      <td>76.419998</td>
      <td>87.750000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2013-09-24</td>
      <td>76.070000</td>
      <td>119.000000</td>
      <td>85.110001</td>
      <td>24.139999</td>
      <td>124.489998</td>
      <td>59.319997</td>
      <td>64.320000</td>
      <td>24.320000</td>
      <td>162.970001</td>
      <td>...</td>
      <td>28.709999</td>
      <td>78.620003</td>
      <td>34.090000</td>
      <td>85.870003</td>
      <td>72.320000</td>
      <td>110.000000</td>
      <td>193.339996</td>
      <td>47.270000</td>
      <td>75.750000</td>
      <td>87.360001</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2013-09-25</td>
      <td>75.989998</td>
      <td>118.510002</td>
      <td>84.500000</td>
      <td>24.430000</td>
      <td>124.070000</td>
      <td>59.319997</td>
      <td>64.449997</td>
      <td>24.230000</td>
      <td>162.309998</td>
      <td>...</td>
      <td>28.490000</td>
      <td>77.720001</td>
      <td>34.049999</td>
      <td>85.980003</td>
      <td>71.980003</td>
      <td>109.260002</td>
      <td>191.559998</td>
      <td>46.950001</td>
      <td>74.650002</td>
      <td>87.139999</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2013-09-26</td>
      <td>76.320000</td>
      <td>119.379997</td>
      <td>84.199997</td>
      <td>23.770000</td>
      <td>123.489998</td>
      <td>59.509996</td>
      <td>65.239998</td>
      <td>24.250000</td>
      <td>162.289993</td>
      <td>...</td>
      <td>28.520000</td>
      <td>78.050003</td>
      <td>34.230000</td>
      <td>85.830002</td>
      <td>72.160004</td>
      <td>109.660004</td>
      <td>193.559998</td>
      <td>47.669998</td>
      <td>74.620003</td>
      <td>87.070000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2013-09-27</td>
      <td>75.889999</td>
      <td>118.739998</td>
      <td>83.800003</td>
      <td>23.330000</td>
      <td>122.639999</td>
      <td>59.009995</td>
      <td>65.190002</td>
      <td>24.049999</td>
      <td>159.850006</td>
      <td>...</td>
      <td>28.879999</td>
      <td>77.209999</td>
      <td>33.980000</td>
      <td>85.410004</td>
      <td>71.989998</td>
      <td>109.360001</td>
      <td>193.050003</td>
      <td>47.000000</td>
      <td>74.360001</td>
      <td>86.900002</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 31 columns</p>
</div>

In [13]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
pca.fit(X.values)

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [15]:
sum = 0
counter = 0
for value in pca.explained_variance_ratio_:
    counter += 1
    sum += value
    print("Было добавлено значение:", value, sep="\t")
    print("Текущая дисперсия:", sum, sep="\t", end="\n\n\n")
    if sum >= 0.9:
        break
print("Нужно компонент чтобы объяснить 90% дисперсии:", counter, sep="\t")

Было добавлено значение:	0.7389711827152153
Текущая дисперсия:	0.7389711827152153


Было добавлено значение:	0.11007169009870231
Текущая дисперсия:	0.8490428728139177


Было добавлено значение:	0.049950882769790025
Текущая дисперсия:	0.8989937555837076


Было добавлено значение:	0.028749198199932643
Текущая дисперсия:	0.9277429537836402


Нужно компонент чтобы объяснить 90% дисперсии:	4

In [16]:
newDF = pandas.DataFrame(pca.transform(X))
comp0 = newDF[0]
newDF.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-50.902404</td>
      <td>17.631677</td>
      <td>7.736021</td>
      <td>2.596010</td>
      <td>2.377569</td>
      <td>4.244055</td>
      <td>12.883088</td>
      <td>3.556570</td>
      <td>-5.821974</td>
      <td>-1.726040</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-52.846909</td>
      <td>19.146907</td>
      <td>7.272546</td>
      <td>4.618575</td>
      <td>0.102182</td>
      <td>3.935519</td>
      <td>11.062930</td>
      <td>3.432599</td>
      <td>-5.633181</td>
      <td>-2.012232</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-54.614439</td>
      <td>19.927358</td>
      <td>8.109958</td>
      <td>4.920347</td>
      <td>-0.421454</td>
      <td>4.555335</td>
      <td>10.119224</td>
      <td>4.175203</td>
      <td>-5.388287</td>
      <td>-2.752699</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-52.600566</td>
      <td>19.941571</td>
      <td>6.948113</td>
      <td>4.806243</td>
      <td>0.319779</td>
      <td>5.065505</td>
      <td>9.849605</td>
      <td>3.266579</td>
      <td>-5.974574</td>
      <td>-1.922746</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-52.370123</td>
      <td>22.289064</td>
      <td>8.410868</td>
      <td>3.833372</td>
      <td>-2.464882</td>
      <td>4.359897</td>
      <td>7.988691</td>
      <td>3.452709</td>
      <td>-5.745204</td>
      <td>-1.875131</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
print(comp0)

0     -50.902404
1     -52.846909
2     -54.614439
3     -52.600566
4     -52.370123
5     -54.653412
6     -52.812575
7     -53.651146
8     -56.692727
9     -54.402655
10    -58.331645
11    -61.716265
12    -61.319400
13    -53.792524
14    -50.892634
15    -49.637408
16    -52.387615
17    -47.478543
18    -43.560335
19    -42.559280
20    -42.450271
21    -42.271248
22    -43.252728
23    -40.059345
24    -38.497263
25    -39.064923
26    -38.393044
27    -38.400558
28    -42.386170
29    -39.830574
         ...
344    67.607802
345    74.206256
346    71.305000
347    68.041973
348    70.268799
349    71.435269
350    76.342232
351    74.859336
352    76.322836
353    75.621858
354    75.403574
355    80.946849
356    82.097270
357    83.045140
358    83.048730
359    84.251636
360    81.085307
361    88.953955
362    85.514365
363    83.441017
364    84.579747
365    77.973512
366    81.468090
367    72.450565
368    72.456036
369    81.290980
370    77.903534
371    83.798199
372    79.195789
373    82.968859
Name: 0, Length: 374, dtype: float64

In [18]:
from numpy import corrcoef
df2 = pandas.read_csv(getcwd() + "/LWs/LW_6/data/djia_index.csv")
djia = df2['^DJI']
corr = corrcoef(comp0, djia)
print(djia)

0      15401.379883
1      15334.589844
2      15273.259766
3      15328.299805
4      15258.240234
5      15129.669922
6      15191.700195
7      15133.139648
8      14996.480469
9      15072.580078
10     14936.240234
11     14776.530273
12     14802.980469
13     15126.070312
14     15237.110352
15     15301.259766
16     15168.009766
17     15373.830078
18     15371.650391
19     15399.650391
20     15392.200195
21     15467.660156
22     15413.330078
23     15509.209961
24     15570.280273
25     15568.929688
26     15680.349609
27     15618.759766
28     15545.750000
29     15615.549805
           ...
344    17673.019531
345    17884.880859
346    17824.289062
347    17729.210938
348    17868.759766
349    17862.140625
350    17972.380859
351    18019.349609
352    18047.580078
353    18029.849609
354    17985.769531
355    18140.439453
356    18116.839844
357    18209.189453
358    18224.570312
359    18214.419922
360    18132.699219
361    18288.630859
362    18203.369141
363    18096.900391
364    18135.720703
365    17856.779297
366    17995.720703
367    17662.939453
368    17635.390625
369    17895.220703
370    17749.310547
371    17977.419922
372    17849.080078
373    18076.189453
Name: ^DJI, Length: 374, dtype: float64

In [19]:
print(corr)

[[1.         0.90965222]
 [0.90965222 1.        ]]

In [ ]:
_comp0 = pandas.Series(pca.components_[0])
print(_comp0, end="\n\n\n")
indexOfHigherValue = _comp0.sort_values(ascending=False).head(1).index[0]
company = X.columns[indexOfHigherValue]
print("Компания имеет наибольший вес в первой компоненте:", company, "индекс:", indexOfHigherValue, "вес", _comp0[indexOfHigherValue], sep="\t")

0     0.016138
1     0.120645
2    -0.051661
3     0.050484
4    -0.125860
5     0.114090
6     0.233906
7    -0.006205
8     0.251227
9     0.288996
10   -0.264999
11    0.093132
12    0.091395
13    0.046988
14    0.029055
15   -0.026107
16    0.329616
17    0.071390
18    0.076230
19    0.211889
20    0.023092
21    0.077732
22   -0.007206
23    0.189480
24    0.321564
25    0.053683
26    0.579684
27    0.000109
28    0.087161
29   -0.042942
dtype: float64


Компания имеет наибольший вес в первой компоненте:	V	индекс:	26